<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Parte 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
</head>
<body>
<form action="/process_payment" method="post" id="paymentForm">
    <h3>Detalles del comprador</h3>
    <div>
        <div>
            <label for="email">E-mail</label>
            <input id="email" name="email" type="text" />
        </div>
        <div>
            <label for="docType">Tipo de documento</label>
            <select id="docType" name="docType" data-checkout="docType" type="text"></select>
        </div>
        <div>
            <label for="docNumber">Número de documento</label>
            <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"/>
        </div>
    </div>
    <h3>Detalles de la tarjeta</h3>
    <div>
        <div>
            <label for="cardholderName">Titular de la tarjeta</label>
            <input id="cardholderName" data-checkout="cardholderName" type="text">
        </div>
        <div>
            <label for="">Fecha de vencimiento</label>
            <div>
                <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                       onselectstart="return false" onpaste="return false"
                       oncopy="return false" oncut="return false"
                       ondrag="return false" ondrop="return false" autocomplete=off>
                <span class="date-separator">/</span>
                <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                       onselectstart="return false" onpaste="return false"
                       oncopy="return false" oncut="return false"
                       ondrag="return false" ondrop="return false" autocomplete=off>
            </div>
        </div>
        <div>
            <label for="cardNumber">Número de la tarjeta</label>
            <input type="text" id="cardNumber" data-checkout="cardNumber"
                   onselectstart="return false" onpaste="return false"
                   oncopy="return false" oncut="return false"
                   ondrag="return false" ondrop="return false" autocomplete=off
                   oninput="guessPaymentMethod(this)" >
        </div>
        <div>
            <label for="securityCode">Código de seguridad</label>
            <input id="securityCode" data-checkout="securityCode" type="text"
                   onselectstart="return false" onpaste="return false"
                   oncopy="return false" oncut="return false"
                   ondrag="return false" ondrop="return false" autocomplete=off>
        </div>
        <div id="issuerInput">
            <label for="issuer_id">Banco emisor</label>
            <select id="issuer_id" name="issuer_id" data-checkout="issuer_id"></select>
        </div>
        <div>
            <label for="installments">Cuotas</label>
            <select type="text" id="installments" name="installments"></select>
        </div>
        <div>
            <input type="hidden" name="amount" id="amount" value="100" />
            <input type="hidden" name="payment_method_id" id="payment_method_id" />
            <input type="hidden" name="description" id="description" value="Teste"/>
            <br>
            <button type="submit">Pagar</button>
            <br>
        </div>
    </div>
</form>
<br>
<script>
    window.Mercadopago.setPublishableKey("TEST-b95647e6-554a-46e8-b405-d975ce36d22c");
    window.Mercadopago.getIdentificationTypes();

    // SDK - obtener métodos de pago de la tarjeta
    var el = document.getElementById('cardNumber');
    if(el){
        el.addEventListener('change', guessPaymentMethod);
    }

    function guessPaymentMethod(event) {
        let cardnumber = document.getElementById("cardNumber").value;
        if (cardnumber.length >= 6) {
            let bin = cardnumber.substring(0,6);
            window.Mercadopago.getPaymentMethod({
                "bin": bin
            }, setPaymentMethod);
        }
    };

    function setPaymentMethod(status, response) {
        if (status == 200) {
            let paymentMethod = response[0];
            document.getElementById('payment_method_id').value = paymentMethod.id;

            getIssuers(paymentMethod.id);
        } else {
            alert('payment method info error: ' +response);
        }
    }


    function getIssuers(payment_method_id) {
        window.Mercadopago.getIssuers(
                payment_method_id,
                setIssuers
        );
    }

    //        Obtener banco emisor
    function setIssuers(status, response) {
        if (status == 200) {
            let issuerSelect = document.getElementById('issuer_id');
            response.forEach( issuer_id => {
                let opt = document.createElement('option');
                opt.text = issuer_id.name;
                opt.value = issuer_id.id;
                issuerSelect.appendChild(opt);
            });

            getInstallments(
                    document.getElementById('payment_method_id').value,
                    document.getElementById('amount').value,
                    issuerSelect.value
            );
        } else {

            alert('issuers method info error: ' +response );
        }
    }

    function getInstallments(payment_method_id, amount, issuer_id){
        window.Mercadopago.getInstallments({
            "payment_method_id": payment_method_id,
            "amount": parseFloat(amount),
            "issuer_id": parseInt(issuer_id)
        }, setInstallments);
    }

    function setInstallments(status, response){
        if (status == 200) {
            document.getElementById('installments').options.length = 0;
            response[0].payer_costs.forEach( payerCost => {
                let opt = document.createElement('option');
                opt.text = payerCost.recommended_message;
                opt.value = payerCost.installments;
                document.getElementById('installments').appendChild(opt);
            });
        } else {

            alert('installments method info error:' +response);
        }
    }

    function getInstallments(payment_method_id, amount, issuer_id){
        window.Mercadopago.getInstallments({
            "payment_method_id": payment_method_id,
            "amount": parseFloat(amount),
            "issuer_id": parseInt(issuer_id)
        }, setInstallments);
    }

    function setInstallments(status, response){
        if (status == 200) {
            document.getElementById('installments').options.length = 0;
            response[0].payer_costs.forEach( payerCost => {
                let opt = document.createElement('option');
                opt.text = payerCost.recommended_message;
                opt.value = payerCost.installments;
                document.getElementById('installments').appendChild(opt);
            });
        } else {

            alert('installments method info error:' +response);
        }
    }

    doSubmit = false;

    var el = document.getElementById('paymentForm');
    if(el){
        el.addEventListener('submit', getCardToken);
    }

    function getCardToken(event){
        event.preventDefault();
        if(!doSubmit){
            let form = document.getElementById('paymentForm');
            window.Mercadopago.createToken(form, setCardTokenAndPay);
            return false;
        }
    };

    function setCardTokenAndPay(status, response) {
        if (status == 200 || status == 201) {
            let form = document.getElementById('paymentForm');
            let card = document.createElement('input');
            card.setAttribute('name', 'token');
            card.setAttribute('type', 'hidden');
            card.setAttribute('value', response.id);
            form.appendChild(card);
            doSubmit=true;
            form.submit();
        } else {
            alert("Verify filled data!\n"+JSON.stringify(response, null, 4));
        }
    };


    doSubmit = false;

    var el = document.getElementById('paymentForm');
    if(el){
        el.addEventListener('submit', getCardToken);
    }

    function getCardToken(event){
        event.preventDefault();
        if(!doSubmit){
            let form = document.getElementById('paymentForm');
            window.Mercadopago.createToken(form, setCardTokenAndPay);
            return false;
        }
    };

    function setCardTokenAndPay(status, response) {
        if (status == 200 || status == 201) {
            let form = document.getElementById('paymentForm');
            alert("Parei aqui 1");
            let card = document.createElement('input');
            alert("Parei aqui 1");

            card.setAttribute('name', 'token');
            card.setAttribute('type', 'hidden');
            card.setAttribute('value', response.id);
            form.appendChild(card);
            doSubmit=true;
            form.submit();
        } else {
            alert("Verify filled data!\n"+JSON.stringify(response, null, 4));
        }
    };

</script>
</body>
</html>